*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    background-color: #fff;
}
.container{
    height: 100%;
}

.navbar-container{
    position: relative;
    /* border:2px solid black; */
    display: block;  
    height: 100px;
   /* width: 50%; */

}


.navbar-container img{
    position: relative;
    top: 30px;
    left: 220px;
    height: 30px;
    
}

.grow-list{
    position: absolute;
    display: block;
    width: 30%;
    left: 400px;
    top: 30px
    
}
.list li{
    display:inline-block;
    list-style: none;
    color: #a7a7a7;
    padding:10px;
    font-size: 12px;
    font-weight: 500;
}
.list li:first-child{
    color:black;
    
}
.button-group{
    position:absolute;
    right: 100px;
    top: 30px;
    display:inline-block;
    }

.nav-button{
    background-color:#7662d0;
    color:#ffffff;
    font-size: 15px ;
    border:none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

/* -----------Banner-----Left text */

.banner-container{
    
    display: block;
    width: 500px;
    margin: 100px 220px ;
    height: 400px;
}

.banner-container img{
    position:absolute;
    height: 550px;
    right: 5px;
    bottom:40px
}

.heading-text{
    font-size: 65px;
    font-weight:600;
    line-height: 1;
    color: #62237d

}
.heading-text span{
    color: #a294e0;
}
.description{
    display: inline-block;
    /* border:1px solid yellow; */
    width: 350px;
    font-size: 15px;
    color:#a7a7a7;
    margin: 30px 0;
    
}


.btn{
    background-color:#8a7fba;
    color:#ffffff;
    font-size: 15px ;
    border:none;
    padding: 20px 60px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}
